In [1]:
'''
simple tree like structure, model make decision at every node -> useful in simple tasks -> one of the 
most popular algorithms -> easy explainability-> easy to show how the decisions are made
1. it is popular because easy to explain and well defined logic and mimic human thought --> random forest,
ensembles of decision trees are some power full algorithms (classifier)--> features values are preffered
to be categorical.
'''

'\nsimple tree like structure, model make decision at every node -> useful in simple tasks -> one of the \nmost popular algorithms -> easy explainability-> easy to show how the decisions are made\n1. it is popular because easy to explain and well defined logic and mimic human thought --> random forest,\nensembles of decision trees are some power full algorithms (classifier)--> features values are preffered\nto be categorical.\n'

# buliding the decision trees

###### 1. CART- classification and regression tress - uses gini index (classification) as metric
# 2. Id3(iterative dichromatizer)- uses entropy function and information gain as metrics

In [2]:
# calculate the imformation by the formula for each node then decide the feature for the highest info gain

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("train.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# the survived is the final predictions to be done so this is the y values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.drop(["Name","Ticket"],axis=1,inplace=True)

In [9]:
df.drop(["Cabin"],axis=1,inplace=True)

In [10]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [11]:
df.drop("PassengerId",axis=1,inplace=True)

In [12]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le= LabelEncoder()

In [15]:
df["Sex"]=le.fit_transform(df["Sex"])
df.head()
# we can see that the data got numerical values

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    1  22.0      1      0   7.2500        S
1         1       1    0  38.0      1      0  71.2833        C
2         1       3    0  26.0      0      0   7.9250        S
3         1       1    0  35.0      1      0  53.1000        S
4         0       3    1  35.0      0      0   8.0500        S

In [16]:
df.drop("Embarked",axis=1,inplace=True)

In [17]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [19]:
df.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208
std,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400
50%,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200
75%,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
df=df.fillna(df["Age"].mean())

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [22]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [23]:
df.iloc[2]

Survived     1.000
Pclass       3.000
Sex          0.000
Age         26.000
SibSp        0.000
Parch        0.000
Fare         7.925
Name: 2, dtype: float64

In [24]:
input_cols=["Pclass","Sex","Age","SibSp","Fare","Parch"]
output_col=["Survived"]
x=df[input_cols]
y=df[output_col]

In [25]:
x.shape

(891, 6)

In [26]:
y.shape

(891, 1)

In [27]:
# building the decision tree classifier for survival

In [28]:
def entropy(col):
    counts=np.unique(col,return_counts=True) # this return count will return the number of count of the
    # unique features present in the array
    
    #print(counts[1][1]) # counts[0] will contain an array containing the unique elements and the counts[1]
    # contains the array of its count
    n=float(col.shape[0])
    entropy=0.0
    for ix in counts[1]:
        # iterate over the occurences'
        p=ix/n
        entropy+=(-1.0*p*np.log2(p))
    return entropy

In [29]:
col=np.array([1,1,1,0,0,1,1])
entropy(col)

0.863120568566631

In [30]:
col=np.array([1,0,0,0,1,1])
entropy(col)

1.0

In [32]:
def divide_data(x,fkey,fval):
    # work with pandas 
    #creating the empty dataframe
    x_left=pd.DataFrame([],columns=x.columns)
    x_right=pd.DataFrame([],columns=x.columns)
    # now keep the data in right if it
    for ix in range(x.shape[0]):
        val=x[fkey].loc[ix] # this will identify the value of the particular col about which we want the
        # partition
        if val>fval:
            x_right=x_right.append(x.loc[ix])
        else:
            x_left=x_left.append(x.loc[ix])
    return x_left,x_right

In [33]:
#testing the functiion
#x_left,x_right=divide_data(x[:10],"Sex",0.5)
#print(x_left)
#print(x_right)

In [34]:

def infogain(x,fkey,fval):
    # in this case let in buying car example we have consiered the age first and then compare the sex,incom
    # and the tech and find the max(infogain) among these and then divide the data let say income has
    # the highest infogain then we will classify it in to two binary on basis of a threshold value >7lakh
    # >7-> yes <7->no
    # also we are going to do the binary split according to the key feature value as each node
    
    # split the data
    left,right=divide_data(x,fkey,fval)
    # % of sample on left
    l=float(left.shape[0])/x.shape[0]
    r=float(right.shape[0])/x.shape[0]
    if left.shape[0]==0 or right.shape[0]==0:
        return -10000000 # we cannot get anything from here no information gain here
    else:
        i_gain=entropy(x.Survived)-(l*entropy(left.Survived)+r*entropy(right.Survived))
    return i_gain

In [84]:
for fx in x.columns:
    print(fx)
    print(infogain(df,fx,df[fx].mean()))

Pclass
0.07579362743608165
Sex
0.2176601066606142
Age
0.001158644038169343
SibSp
0.009584541813400071
Fare
0.042140692838995464
Parch
0.015380754493137694

In [35]:
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [ ]:
# hence the Sex has highest information gain so we will choose this columns for further classification

# implementing decision tree

In [77]:
class decisiontree():
    def __init__(self,depth=0,max_depth=5):
        self.left=None # pointer to the left node
        self.right=None # pointer to the right node
        self.fkey=None # pointer to the feature val
        self.fval=None # pointer to the threshold value 
        self.max_depth=max_depth # pointer to the max_depth upto which we want the classifier
        self.target=None # we want the target what it i
        self.depth=depth # 
        # basicaly if we stop at a leaf node with (40Y,10N) we will have the answer as Yes with 
        # an accuracy of 80%
        # majority prediction at leaf node
    def predict1(self,test):
        return self.target
    def predict(self,test):
        if test[self.fkey]>self.fval:
            # we will go to right child
            # if right does not exist
            if self.right is None:
                return self.target
            return self.right.predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test) # self.left is recursive call to the left subtree
    
    def train(self,x_train):
        features=["Pclass","Sex","Age","SibSp","Fare","Parch"]
        info_gain=[]
        for ix in features:
            i_gain=infogain(x_train,ix,x_train[ix].mean())
            info_gain.append(i_gain)
        self.fkey=features[np.argmax(info_gain)]
        self.fval=x_train[self.fkey].mean()
        print("making tree features is",self.fkey)
        
        #split data
        data_left,data_right=divide_data(x_train,self.fkey,self.fval)
        data_left=data_left.reset_index(drop=True)
        data_right=data_right.reset_index(drop=True)
        
        # so now we have split the data accordingly the maximum information gained now will
        # check if any made is empty or not
        if data_left.shape[0]==0 or data_right.shape[0]==0:
            if x_train.Survived.mean()>=0.5:
                self.target="Survive"
            else:
                self.target='dead'
            return
        # stop early if depth>max_depth
        if (self.depth>=self.max_depth):
            if x_train.Survived.mean()>=0.5:
                self.target="Survive"
            else:
                self.target='dead'
            return
        
        # recursive case that we want to build the case recursively 
        # above are the base cases for the below recursive calls in order to stop the calls
        self.left=decisiontree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right=decisiontree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        if x_train.Survived.mean()>=0.5:
            self.target="Survive"
        else:
             self.target='dead'
        return

In [ ]:
# if you build a tree which is very deep this will be prone to overfitting. hence we need to 
# restrict the depth of to which we want so that it will escape the overfitting
# poor generalisation

In [37]:
'''
in this datasets--> in decision tree, we find at certain limit the accuracy of the program increases simul-
taneouly but after that the accuracy decrease thus we need to stop at that point that is known as post-
pruning or we will stop at early with our intiution defined way
'''

'\nin this datasets--> in decision tree, we find at certain limit the accuracy of the program increases simul-\ntaneouly but after that the accuracy decrease thus we need to stop at that point that is known as post-\npruning or we will stop at early with our intiution defined way\n'

In [38]:
d=decisiontree()
#d.train(df)

In [39]:
type(d)

__main__.decisiontree

### predictions

In [41]:
split=int(0.7*df.shape[0])
train_data=df[:split]
test_data=df[split:]
test_data=test_data.reset_index(drop=True)

In [42]:
print(train_data.shape,test_data.shape)

(623, 7) (268, 7)

In [79]:
dt=decisiontree()
dt.train(train_data)

making tree features is Sex
making tree features is Pclass
making tree features is Age
making tree features is SibSp
making tree features is Pclass
making tree features is Age
making tree features is Age
making tree features is SibSp
making tree features is Parch
making tree features is Pclass
making tree features is SibSp
making tree features is Fare
making tree features is Parch
making tree features is Age
making tree features is Pclass
making tree features is Age
making tree features is Age
making tree features is Parch
making tree features is SibSp
making tree features is Fare
making tree features is Age
making tree features is Age
making tree features is Fare
making tree features is Age
making tree features is Age
making tree features is Fare
making tree features is Age
making tree features is Parch
making tree features is Fare
making tree features is Fare
making tree features is Fare
making tree features is Age
making tree features is Fare
making tree features is Parch
making tree features is Fare
making tree features is Age
making tree features is Age
making tree features is Fare
making tree features is Fare
making tree features is SibSp
making tree features is Fare
making tree features is Age
making tree features is Fare
making tree features is Pclass
making tree features is SibSp
making tree features is Age
making tree features is Age
making tree features is Age
making tree features is Pclass
making tree features is Age
making tree features is SibSp
making tree features is Fare
making tree features is SibSp
making tree features is Age
making tree features is Parch
making tree features is SibSp
making tree features is SibSp
making tree features is Age
making tree features is Age
making tree features is Age
making tree features is Parch
making tree features is Age
making tree features is Age

In [80]:
print(dt.fkey)

Sex

In [81]:
print(dt.fval)

0.6292134831460674

In [82]:
print(dt.left.fkey)
print(dt.right.fkey)

Pclass
Fare

In [163]:
y_pred=[]
for i in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[i]))

In [164]:
test_data.shape
len(y_pred)

268

In [165]:
print(y_pred)

['dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'Survive', 'Survive', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'Survive', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'Survive', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'dead', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'Survive', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'Survive', 'dead', 'Survive', 'Survive', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'Survive', 'dead', 'dead', 'dead', 'Survive', 'Survive', 'Survive', 'dead', 'Survive', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'Survive', 'Survive', 'Survive', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'Survive', 'Survive', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'Survive', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'Survive', 'Survive', 'Survive', 'Survive', 'Survive', 'dead', 'Survive', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'Survive', 'Survive', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'Survive', 'Survive', 'dead', 'dead', 'dead', 'Survive', 'Survive', 'dead', 'dead', 'dead', 'dead', 'dead', 'dead', 'Survive', 'dead', 'dead', 'dead']

In [166]:
y_actual=test_data[output_col]
print(y_actual)

     Survived
0           0
1           0
2           0
3           0
4           1
..        ...
263         0
264         1
265         0
266         1
267         0

[268 rows x 1 columns]

In [167]:
le=LabelEncoder()

In [168]:
y_pred=le.fit_transform(y_pred)

In [172]:
print(type(y_pred))
print(y_pred)
y_pred=np.array(y_pred).reshape((-1,1))

<class 'numpy.ndarray'>
[1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 0 1 0 0 1 1 0 1 1
 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1
 0 1 1 0 1 0 1 1 1 0 1 0 1 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 1 0 0 1 1 0 1 1 1
 1 1 1 1 1 1 1 0 0 1 1 1 0 0 0 1 0 1 1 1 0 1 1 1 1 0 1 1 1 0 1 0 1 0 1 1 1
 1 0 1 0 1 1 1 1 0 0 0 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 1 0
 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1
 1 1 1 1 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 1 0 0 1 1 1 1 0 1 1 0 0 1 1 1 0 0 1
 1 1 1 1 1 0 1 1 1]

In [173]:
for i in range(y_pred.shape[0]):
    if (y_pred[i]==0):
        y_pred[i]=1
    else:
        y_pred[i]=0

In [174]:
y_pred

array([[0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0]], dtype=int64)

In [175]:
print(y_pred)

[[0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]]

In [176]:
#y_pred==y_actual

In [177]:
print(y_pred.shape,y_actual.shape)

(268, 1) (268, 1)

In [178]:
accuracy=np.sum(y_pred==y_actual)/y_pred.shape[0]

In [179]:
accuracy

Survived    0.817164
dtype: float64

In [180]:
type(y_actual)

pandas.core.frame.DataFrame

In [181]:
    np.sum(y_pred==y_actual)

Survived    219
dtype: int64

In [182]:
 #so test accuracy is 81 percent

## DECISION TREE USING SCIKIT LEARN

In [186]:
from sklearn.tree import DecisionTreeClassifier
sk_tree=DecisionTreeClassifier(criterion='entropy',max_depth=5)

In [187]:
sk_tree.fit(train_data[input_cols],train_data[output_col])

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [188]:
sk_tree.predict(test_data[input_cols])

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0], dtype=int64)

In [189]:
sk_tree.score(test_data[input_cols],test_data[output_col])

0.8283582089552238

In [190]:
# same is predicted by us

###### decision tree visualizatio

In [197]:
import pydotplus
from sklearn.externals.six import StringI0

ModuleNotFoundError: No module named 'sklearn.externals.six'

In [192]:
#!pip install pydotplus

Collecting pydotplus
  Downloading pydotplus-2.0.2.tar.gz (278 kB)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\hpadi\anaconda3\lib\site-packages (from pydotplus) (3.0.4)
Building wheels for collected packages: pydotplus
  Building wheel for pydotplus (setup.py): started
  Building wheel for pydotplus (setup.py): finished with status 'done'
  Created wheel for pydotplus: filename=pydotplus-2.0.2-py3-none-any.whl size=24575 sha256=717ec6b3a247d6a970c271c8b76bc744a2e4072be47353c8c5365b6a38f57dbc
  Stored in directory: c:\users\hpadi\appdata\local\pip\cache\wheels\89\e5\de\6966007cf223872eedfbebbe0e074534e72e9128c8fd4b55eb
Successfully built pydotplus
Installing collected packages: pydotplus
Successfully installed pydotplus-2.0.2

In [198]:
# Getting the correct result

# *****thanks***